{% extends 'base.html' %}

{% block conteudo %}

<link rel='stylesheet' href='/static/css/style_anderson.css'>
<br>
<h3>Quem sou eu</h3>
<br>
<p>Meu Nome é <b>Anderson da Silva Machado</b>, tenho 19 anos,
	sou ténico em informática pela ETEC Adhemar Batista Heméritas
	e atualmente faço o curso de <b>Sistema da Informação</b> pela <b>Faculdade Impacta de Tecnologia.</b></p>
	
	<br>
<center><img src="static\img\Anderson.jpg" id="centro" alt="some text" width=439 height=437></center>


{% endblock %}
